.container {
  margin: 0px;
  font-family: Verdana;
  /* font-family: 'Times New Roman', Times, serif; */
}

.mainHeader {
  display: flex;
  padding: 20px;
  padding-bottom: 10px;
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #e1e1e1;
  color: black;
  font-size: 30px;
}

.mainHeader h1 {
  margin: 0;
  font-weight: normal;
}

.mainHeader h6 {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
}

.list {
  /* margin: auto; */
}
