.container {
  margin: 0px;
  font-family: Verdana;
  /* font-family: 'Times New Roman', Times, serif; */
}

.mainHeader {
  display: flex;
  padding: 20px;
  padding-bottom: 10px;
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #6699cc;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 20px;

  -webkit-box-shadow: 0px -3px 25px 3px rgba(0, 0, 0, 0.76);
  box-shadow: 0px -3px 25px 3px rgba(0, 0, 0, 0.76);
}

.mainHeader h1 {
  margin: 0;
  font-weight: normal;
}

.mainHeader h6 {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
}

.list {
  /* margin: auto; */
}

body {
  margin-top: 0;
  margin-left: 0;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.styled-table thead tr {
  background-color: #6699cc;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: thin solid #6699cc;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
